<!DOCTYPE html>
<html>
<head>
    <title>WebMAC - Aula 5</title>
    <style>
        body { font-family: Arial; background: #292827; color: #e0e0e0; text-align: center; padding: 50px; }
        .box { border: 2px solid #ff690a; padding: 20px; display: inline-block; border-radius: 10px; background: #292827; }
        input { display: block; margin: 10px auto; padding: 8px; border-radius: 5px; border: none; }
        button { background: #ff690a; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; }
    </style>
</head>
<body>
    <div class="box">
        {% block conteudo %}{% endblock %}
    </div>
</body>
</html>